@font-face {
  font-family: Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
}
* {
  font-family: KoddiUDOnGothic;
  /* margin: 0;
  padding: 0; */
}
.container{margin: 15px; color:#333;text-align: center;}
h1{ margin: 2rem 0 2.5rem;font-size: 1.7rem;letter-spacing: -.1rem;}
select {    
    width: 100%; 
    font-size: 1.4rem;
    padding: 0.1rem;
    border: 2px solid #ccc;
    border-radius: 6px;
    color: #333;
  }
.audioplayer{margin: 2rem 0;font-weight: 700;}
.audioplayer a{font-size:1.2rem;text-decoration: none;color:#333;}
#content{border-radiusbackground: aliceblue;}
