@font-face {
  font-family: KoddiUDOnGothic;
  src: url("./webfonts\(EOT\,\ WOFF\,\ WOFF2\)\ 파일/") format("woff2");
}
* {
  font-family: KoddiUDOnGothic;
  /* margin: 0;
  padding: 0; */
}

div {
  /* border: 1px solid black; */
  border-radius: 0px 10px 10px;
  margin: 2rem;
  padding: 5rem;
  text-align: center;
  line-height: 2rem;
}

.audioCont {
  margin-bottom: 0;
}

.writerSelectCont {
  position: relative;
  margin-bottom: 18%;
}

.audioplayer {
  margin-top: 5%;
}

#player {
  margin: 0;
  padding: 0;
}

select {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  color: #333;
}
label {
  display: none;
  position: absolute;
  top: 10%;
  left: 14%;
  transform: translate(-50%, -50%);
}
audio {
  position: absolute;
  top: calc(18% + 40px); /* 선택한 값에 따라 조정 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
h1 {
  /* position: absolute; */
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  padding-top: 10%;
  /* top: 3%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
p {
  margin: 0;
}
#content {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: 700;
}
a:visited {
  font-size: 1.2rem;
  color: black;
  font-weight: 700;
}
/* Add media query for mobile */
@media screen and (max-width: 480px) {
  label {
    display: none;
    /* position: absolute;
    top: 8%;
    left: 10%; */
  }
  select {
    position: absolute;
    text-align: center;
    top: 17%;
    width: 100%; /* width: 80%; */
    font-size: 1.5rem;
    padding: 0.1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    color: #333;
  }
  audio {
    position: absolute;
    top: calc(18% + 30px); /* 선택한 값에 따라 조정 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  div {
    /* background-color: aliceblue; */
    /* width: 90%; */
    border-radius: 0px 10px 10px;
    margin: 2rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    /* margin-top: 30%; Add this */
  }
  content {
    font-size: 0.8rem;
  }
  h1 {
    /* position: absolute; */
    text-align: center;
    font-size: 1.8rem;
    padding-top: 10%;
    /* top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
  }
  a:visited {
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
  }
}
@media screen and (min-width: 481px) {
  /* 여기에 가로 모드에 적용할 스타일을 작성해주세요 */
  label {
    display: none;
    /* position: absolute;
    top: 8%;
    left: 10%; */
  }
  select {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%; /* width: 80%; */
    font-size: 1.5rem;
    padding: 0.1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    color: #333;
  }
  audio {
    position: absolute;
    top: calc(40% + 40px); /* 선택한 값에 따라 조정 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  div {
    /* background-color: aliceblue; */
    border-radius: 0px 10px 10px;
    margin: 2rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    margin-top: 20%;
  }
  content {
    font-size: 0.8rem;
  }
  h1 {
    /* position: absolute; */
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 10%;
    /* top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
  }
  a:visited {
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
  }
}
